In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.decomposition import KernelPCA
from sklearn.cluster import AffinityPropagation

In [4]:
def KPCA_algorithm(X,n):
    kpca = KernelPCA(n_components=3, kernel='rbf')
    result = kpca.fit_transform(X)
    return result

In [5]:
def agglo(result):
    agg=AgglomerativeClustering(n_clusters=5)
    y_agg=agg.fit_predict(result)
    score = silhouette_score(result,y_agg)
    return score

In [6]:
def Kmeans(result):
    kmeans=KMeans(n_clusters=5,init='k-means++',random_state=42)
    y_means=kmeans.fit_predict(result)
    score = silhouette_score(result,y_means)
    return score

In [7]:
def affinitive(result):
    aff = AffinityPropagation(random_state=5)
    y_aff = aff.fit_predict(result)
    score = silhouette_score(result,y_aff)
    return score

In [8]:
df=pd.read_csv("pre-kidney_disease.csv")

In [9]:
df.head()

,Unnamed: 0,id,age,bp,sg,al,su,bgr,bu,sc,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,0,0.0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,...,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,1,1.0,7.0,50.0,1.020,4.0,0.0,99.0,18.0,0.8,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,2,2.0,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,...,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,3,3.0,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,4,4.0,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd

In [10]:
from Univariate import Preprocess
quan,qual=Preprocess.QuanQual(df)

In [11]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
for i in qual:
    df[i]=l.fit_transform(df[i])

In [12]:
df=df.drop("Unnamed: 0",axis=1)

In [13]:
X=df.drop("classification",axis=1)

In [22]:
Result=KPCA_algorithm(X,4)
agg=[]
km=[]
af=[]

In [23]:
score=agglo(Result)
agg.append(score)
 
score= Kmeans(Result)
km.append(score)

score=affinitive(Result)
af.append(score)

C:\Users\Nagendran\AppData\Roaming\Python\Python311\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(
C:\Users\Nagendran\AppData\Roaming\Python\Python311\site-packages\sklearn\cluster\_affinity_propagation.py:142: ConvergenceWarning: Affinity propagation did not converge, this model may return degenerate cluster centers and labels.
  warnings.warn(

In [24]:
dataframe=pd.DataFrame(columns=["Agglomarative","K_means","Affinitive"],index=["KPCA"])
for i,j in enumerate(dataframe.index):
    dataframe["Agglomarative"][j]=agg[i]
    dataframe["K_means"][j]=km[i]
    dataframe["Affinitive"][j]=af[i]

In [17]:
#select_k=5
dataframe

     Agglomarative   K_means Affinitive
KPCA      0.996879  0.996879  -0.419466

In [21]:
#select_k=6
dataframe

     Agglomarative   K_means Affinitive
KPCA      0.996879  0.996879  -0.394443

In [25]:
#select_k=4
dataframe

     Agglomarative   K_means Affinitive
KPCA      0.996879  0.996879  -0.365879